.clj-kondo
.log
.lsp
.shadow-cljs
node_modules
target
.cpcache
.nrepl-port
.terraform
.idea
.nvimrc
.vimrc
*.iml
docker
/.calva
/.clj-kondo
client/dist
.DS_Store
.env
.env.local
test-resources/
cljs-test-runner-out
.cljs_node_repl
.make.*
